.search-container{
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px;
}

.search-input{
  width: 70%;
  height: 24px;
  padding: 10px;
  border: none;
  border-bottom: 1px grey solid;
  font-size: 20px;
}

img{
  height: 100px;
  width: auto;
}

.logo{
  margin-right: 5px;
}

.search-btn{
  border-radius: 3px;
  height: 46px;
  width: 69px;
  margin: 10px;
  border: 1px solid gray;
  font-size: 20px;
  color: gray;
}

.clear-btn{
  opacity: 0.4;
  width: auto;
  height: 15px;
  margin: 10px;
}

.search-btn:hover{
  background-color: #23292D;
  color: white;
  transition: 0.5s;
}