.result-container{
  margin: 25px;
  display: flex;
  justify-content: center;
  position: relative;
}
.result-container ul:hover{
  height: 200px;
}

.icon{
  width: auto;
  height: 30px;
  margin: 5px;
}

ul{
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

ul li{
  position: relative;
  list-style: none;
  width: 100px;
  height: 100px;
}

ul li div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px !important;
  background: #23292D;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

a{
  text-decoration: none;
  color: #fff;
}

ul li:hover div:nth-child(10){
  transform: translate(200px, 100px);
  opacity: 0.8;
}
ul li:hover div:nth-child(9){
  transform: translate(-200px, 100px);
  opacity: 0.8;
}
ul li:hover div:nth-child(8){
  transform: translate(-100px, 100px);
  opacity: 0.8;
}
ul li:hover div:nth-child(7){
  transform: translate(100px, 100px);
  opacity: 0.8;
}
ul li:hover div:nth-child(6){
  transform: translate(0px, 100px);
  opacity: 0.2;
}
ul li div:nth-child(5){
  transform: translate(200px, 0px);
  opacity: 1;
}
ul li div:nth-child(4){
  transform: translate(-200px, 0px);
  opacity: 0.8;
}
ul li div:nth-child(3){
  transform: translate(100px, 0px);
  opacity: 0.6;
}
ul li div:nth-child(2){
  transform: translate(-100px, 0px);
  opacity: 0.4;
}
ul li div:nth-child(1){
  transform: translate(0, 0);
  opacity: 0.2;
}